/** @format */

.input {
	width: 250px;
}
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 50px;
	margin: 50px;
	margin-left: 100px;
	background: #eee;
	box-shadow: 0 0 10px #2c2c2c, 0 0 10px #494949;
	border-radius: 5px;
	/* opacity: .9; */
}
.selector {
	display: flex;
	justify-content: left;
	width: 100px;
	flex-direction: column;
	margin: 30px;
}
.createBtn {
	width: 250px;
	height: 50px;
	background: #0b8500;
	color: white;
	font-size: 17px;
	border-radius: 5px;
}
.createBtn i {
	margin: 10px;
	font-size: 20px;
}
.createBtn:hover {
	background: rgb(0, 82, 0);
}
.border {
	height: 200px;
	width: 2px;
	border-radius: 1.5px;
	background: #d6d6f8;
}
.addButton {
	height: 35px;
	width: 100px;
	border: none;
	margin: 15px;
	box-shadow: 0 0 7px #9c9c9c;
	outline: none;
	border-radius: 4px;
	text-transform: uppercase;
	text-shadow: grey;
	text-decoration: inherit;
	background: #6c79f0;
	color: white;
}
.addButton:hover {
	background: #404cb9;
}

@media only screen and (max-width: 1000px) {
	.border {
		display: none;
	}
	.selector {
		justify-content: center;
	}
}
@media only screen and (max-width: 800px) {
	.form {
		flex-direction: column;
		width: 95%;
		margin-left: 50px;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.selector {
		width: fit-content;
		margin: auto;
		padding: 20px;
	}
}
